@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4285F4;
  --secondary-color: #34A853;
  --accent-color: #FABC09;
  --background-color: #F5F5F5;
  --text-color: #333333;
  --negative-accent-color: #DC143C;
}